
section.coin-container {
  max-width: 350px;
  max-height: 350px;
  margin: auto;
}

img {
  width: 100%;
    animation:spin 6.5s linear infinite;
}

body {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background-color: #ABCAFF;
}

div.button {
  padding: 10px;
  border-radius: 5px;
  border: 2px dotted #B29520;
  background-color: #FADD90;
  font-size: 25px;
  text-transform: uppercase;
  width: 250px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.5s;
}

div.button:hover {
  background-color: #FFFCF0;
}

div#result {
  font-size: 30px;
  font-weight: bold;
  margin: 40px;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: all 0.5s;
  text-align: left;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: all 0.3s;
}

.sidebar a:hover {
  color: #aaaaaa;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#openbtn {
  font-size: 36px;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  background-color: green;
  border-radius: 5px;
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
    }
  }
